body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e5c8eb, #C4E0F9);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* registratie */
.registratie {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 60px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;

}

h2 {
    color: #333;
    /* font-size: 24px; */
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
    color: #444;
}

input {
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
 /* knoppen */
button {
    background-color: #8fd2e3;
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #e797d8;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
